
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: rgb(88, 84, 84);
$darkGray: rgb(94, 89, 89);
$gray: rgb(133, 128, 128);
$lightGray: #eee;
$white: rgb(245, 200, 200);

// Font stacks
$helvetica: Source serif Pro, times new roman, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}